<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Список покупателей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="card">
    <div class="card-header">Покупатели</div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>Имя</td>
                <td/>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s : ${customerList}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.name}"></td>
                <td>
                    <a th:href="@{'/customer/show/'+${s.id}}" class="btn btn-primary">Подробнее</a>
                </td>
                <td>
                    <a th:href="@{'/customer/getOrderList/'+${s.id}}" class="btn btn-primary">Cписок заказов</a>
                </td>

                <td>
                    <a th:href="@{'/customer/delete/'+${s.id}}" class="btn btn-primary">Удалить покупателя</a>
                </td>

            </tr>
            </tbody>
        </table>
        <span th:text="${'Всего : ' + customerList.size()}"/>
        <p></p>
        <a th:href="@{'/customer/create'}" type="button" class="btn btn-primary">Добавить покупателя</a>
        <a th:href="@{'/'}" type="button" class="btn btn-primary">На главную</a>
    </div></div>
</body>
</html>